body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.badges-container {
  background: #101010;
  max-width: 30vw;
  height: 80vh;
  border-radius: 24px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.badges {
  border-radius: 50%;
}