body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rating-container {
  background: #101010;
  min-width: 50vw;
  height: 60vh;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating-container p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.125rem;
  color: #7e65d7;
}

.star {
  font-size: 2rem;
  filter: contrast(0);
  transition: 0.3s;
  margin: -2px;
}

.star-container {
  direction: rtl;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -1px;
}

.star-container > .star:hover,
.star-container > .star:hover ~ .star {
   filter: initial;
}