body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rating-container {
  background: #101010;
  min-width: 50vw;
  height: 60vh;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

